.kid {
  background-color: var(--teal-100)!important;
  color:black!important;
}

.ado {
  background-color: var(--teal-200)!important;
  color:black!important;
}

.adult {
  background-color: var(--teal-300)!important;
  color:black!important;
}

