<br>
<div class="p-d-inline-flex" xmlns="http://www.w3.org/1999/html" [style]="{marginLeft:'35%'}">
  <br>
  <p-multiSelect [options]="tableauNombre" [(ngModel)]="selectNombre" [style]="{padding:'5px',margin:'10px'}" optionDisabled="inactive" defaultLabel="Choisir un nombre" optionLabel="name" (onChange)="filtrageCoursNombre()"></p-multiSelect>
  <br>
  <p-multiSelect [options]="tableauAge" [style]="{padding:'5px',margin:'10px'}" [(ngModel)]="selectAge" optionDisabled="inactive" defaultLabel="Choisir un âge" optionLabel="name" (onChange)="filtrageCoursAge()"></p-multiSelect>
  <br>
  <br>
  <div *ngIf="!filtrage">
    <p-button label="Tri" icon="{{tri}}" (onClick)="onTri()" [style]="{padding:'15px',margin:'5px',backgroundColor:'var(--teal-100)', border:'var(--teal-100)',color:'black'}"></p-button>
  </div>
</div>

<div *ngIf="jeuSelectionne">
  <app-details-jeu [jeu]="jeuSelectionne"></app-details-jeu>
</div>
<div *ngIf="!filtrage">
  <br>
<p-table [value]="jeux" (onRowUnselect)="jeuSelectionne=undefined">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Thème</th>
      <th>Nombre de joueurs</th>
      <th>Âge</th>
      <th>Durée</th>
      <th>Details</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr [ngClass]="{'kid': jeu.age<8, 'ado': (jeu.age> 9 && jeu.age < 18),'adult': jeu.age >= 18}" [style]="{border:('black')}">
      <td>{{jeu.id}}</td>
      <td>{{jeu.nom}}</td>
      <td>
        <img src="{{jeu.url}}">
      </td>
      <td>{{jeu.description}}</td>
      <td>{{jeu.theme_id.nom}}</td>
      <td>{{jeu.nombre_joueurs}} joueurs</td>

      <td>
        <div>
        {{jeu.age}} ans ou +
        </div>
      </td>
      <td>{{jeu.duree}}</td>
      <td>
        <div *ngIf="jeuSelectionne && jeu===jeuSelectionne">
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="onRowUnselect()"></button>
        </div>
        <div *ngIf="jeuSelectionne===undefined">
          <button type="button" pButton pRipple icon="pi pi-eye" (click)="onRowSelect(jeu)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
<div *ngIf="filtrage">
  <p-table [value]="tableauJeu" (onRowUnselect)="jeuSelectionne=undefined">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Thème</th>
      <th>Nombre de joueurs</th>
      <th>Âge</th>
      <th>Durée</th>
      <th>Details</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr [ngClass]="{'kid': jeu.age<8, 'ado': (jeu.age> 9 && jeu.age < 18),'adult': jeu.age >= 18}" [style]="{border:('black')}">
      <td>{{jeu.id}}</td>
      <td>{{jeu.nom}}</td>
      <td>
        <img src="{{jeu.url}}">
      </td>
      <td>{{jeu.description}}</td>
      <td>{{jeu.theme_id.nom}}</td>
      <td>{{jeu.nombre_joueurs}}</td>
      <td>{{jeu.age}} ans ou +</td>
      <td>{{jeu.duree}}</td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-eye" [style]="{backgroundColor:'indigo-800'}" (click)="onRowSelect(jeu)"></button>
      </td>
    </tr>
  </ng-template>
</p-table></div>
