<div class="p-d-inline-flex">
  <br>
  <p-multiSelect [options]="tableauTheme" [(ngModel)]="selectTheme" optionDisabled="inactive" defaultLabel="Choisir un thème" optionLabel="name" (onChange)="filtrageCoursTheme()"></p-multiSelect>
  <br>
  <br>
  <p-multiSelect [options]="tableauAge" [(ngModel)]="selectAge" optionDisabled="inactive" defaultLabel="Choisir un âge" optionLabel="name" (onChange)="filtrageCoursAge()"></p-multiSelect>
  <br>
  <br>
</div>

<div *ngIf="jeuSelectionne">
  <app-details-jeu [jeu]="jeuSelectionne"></app-details-jeu>
</div>
<div *ngIf="!filtrage">
  <br>
  <br>
  <p-button label="Tri" icon="{{tri}}" (onClick)="onTri()"></p-button>
  <br>
  <br>
<p-table [value]="jeux" (onRowUnselect)="jeuSelectionne=undefined">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Thème</th>
      <th>Âge</th>
      <th>Durée</th>
      <th>Details</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr>
      <td>{{jeu.id}}</td>
      <td>{{jeu.nom}}</td>
      <td>
        <img src="{{jeu.url}}">
      </td>
      <td>{{jeu.description}}</td>
      <td>{{jeu.theme_id.nom}}</td>
      <td>{{jeu.age}} ans ou +</td>
      <td>{{jeu.duree}}</td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-search" (click)="onRowSelect(jeu)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
<div *ngIf="filtrage">
  <p-table [value]="tableauJeu" (onRowUnselect)="jeuSelectionne=undefined">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Thème</th>
      <th>Âge</th>
      <th>Durée</th>
      <th>Details</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr>
      <td>{{jeu.id}}</td>
      <td>{{jeu.nom}}</td>
      <td>
        <img src="{{jeu.url}}">
      </td>
      <td>{{jeu.description}}</td>
      <td>{{jeu.theme_id.nom}}</td>
      <td>{{jeu.age}} ans ou +</td>
      <td>{{jeu.duree}}</td>
      <td>
        <button type="button" pButton pRipple icon="pi pi-search" (click)="onRowSelect(jeu)"></button>
      </td>
    </tr>
  </ng-template>
</p-table></div>
