.kid {
  background-color: #ACC6A5!important;
}

.ado {
  background-color: #EBC790 !important;
}

.adult {
  background-color: #DD8080!important;
}

.p-d-inline-flex {
  text-align: center !important;
}
