<div>
  <div *ngIf="authService.isLoggedOut$ | async">
    <p-menubar [model]="items" styleClass="menucus"  [style]="{backgroundColor:'var(--teal-100)',color:'black',fontFamily:'Helvetica'}">Ludothèque de la VikTeam</p-menubar>
  </div>

  <div *ngIf="authService.isLoggedIn$ | async">
    <p-menubar  styleClass="menucus"  [model]="items1" [style]="{backgroundColor:'var(--teal-100)',color:'black',fontFamily:'Helvetica'}">Ludothèque de la VikTeam</p-menubar>
  </div>

</div>
<router-outlet></router-outlet>

<p-toast position="top-right" key="main"></p-toast>

