<br>
<h1 [style]="{textAlign:'center',fontSize:'200%',fontFamily:'Helvetica',color:'var(--teal-400)'}">Profil d'un utilisateur</h1>
<div *ngIf="!loading">
  <h2 [style]="{textAlign: 'center', fontFamily:'Helvetica',fontSize:'150%',color:'var(--teal-600)'}">{{user.prenom}} {{user.nom}}</h2>

  <ul [style]="{marginLeft:'5%'}">
    <li [style]="{fontFamily:'Helvetica'}">Email : {{user.email}}</li>
    <li [style]="{fontFamily:'Helvetica'}">Pseudo : {{user.pseudo}}</li>
  </ul>
</div>

<button pButton type="button" label="Colis postal" (click)="toColisPostal()"></button>

<div *ngIf="jeuSelectionne">
  <app-details-jeu [jeu]="jeuSelectionne"></app-details-jeu>
</div>
<div>
  <br>
  <p-table [value]="jeux" (onRowUnselect)="jeuSelectionne=undefined">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Photo</th>
        <th>Description</th>
        <th>Thème</th>
        <th>Nombre de joueurs</th>
        <th>Âge</th>
        <th>Durée</th>
        <th>Details</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jeu>
      <tr [ngClass]="{'kid': jeu.age<8, 'ado': (jeu.age> 9 && jeu.age < 18),'adult': jeu.age >= 18}" [style]="{border:('black')}">
        <td>{{jeu.id}}</td>
        <td>{{jeu.nom}}</td>
        <td>
          <img src="{{jeu.url}}">
        </td>
        <td>{{jeu.description}}</td>
        <td>{{jeu.theme_id.nom}}</td>
        <td>{{jeu.nombre_joueurs}} joueurs</td>

        <td>
          <div>
            {{jeu.age}} ans ou +
          </div>
        </td>
        <td>{{jeu.duree}}</td>
        <td>
          <div *ngIf="jeuSelectionne && jeu===jeuSelectionne">
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="onRowUnselect()"></button>
          </div>
          <div *ngIf="jeuSelectionne===undefined">
            <button type="button" pButton pRipple icon="pi pi-eye" (click)="onRowSelect(jeu)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


