<p-card header="{{jeu.nom}}" class="p-mr-4 p-mb-4">
  <div class="row">
  <div class="p-col-3">
    <i class="pi pi-user icon"></i>
    <span>{{jeu.nombrejoueurs}} joueurs</span>
  </div>
  <div class="p-col-3">
    <span>Thème : {{jeu.theme}}</span>
  </div>
    <div class="p-col-3">
      <span>Poids : {{jeu.poids}} kg</span>
    </div>
  </div>
  <div>
    <ul>
      <li>Description : {{jeu.description}}</li>
      <li>Catégorie : {{jeu.categorie}}</li>
      <li>Langue : {{jeu.langue}}</li>
      <li>Âge : {{jeu.age}}</li>
      <li>Règles : {{jeu.regles}}</li>
      <li>Durée : {{jeu.duree}}</li>
      <li>Mécanique : {{jeu.mecanique}}</li>
      <li>Éditeur : {{jeu.editeur}}</li>
      <li> Commentaires : </li>
    </ul>
  </div>
</p-card>
