<p-card header="{{jeu.nom}}" class="p-mr-4 p-mb-4">
  <div class="row">
  <div class="p-col-3">
    <i class="pi pi-user icon"></i>
    <span> {{jeu.nombre_joueurs}} joueurs</span>
  </div>
  <div class="p-col-3">
    <span>Thème : {{jeu.theme_id.nom}}</span>
  </div>
    <div class="p-col-3">
      <span>Poids : {{jeu.poids}} kg</span>
    </div>
  </div>
  <div>
    <ul>
      <li>Description : {{jeu.description}}</li>
      <li>Catégorie : {{jeu.categorie}}</li>
      <li>Langue : {{jeu.langue}}</li>
      <li>Âge : {{jeu.age}} ans</li>
      <li>Règles : {{jeu.regles}}</li>
      <li>Durée : {{jeu.duree}}</li>
      <li>Mécanique : {{this.jeu.mecaniques.nom}}</li>
      <li>Éditeur : {{jeu.editeur_id.nom}}</li>
      <li>Commentaires :
        <div *ngFor="let com of this.jeu.commentaires">
          Note : {{com.note}}
          Auteur : {{com.user.pseudo}}
          Message : {{com.commentaire}}
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="authService.isLoggedIn$ | async">
  <app-commentaires></app-commentaires>
  </div>
</p-card>
